<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
  <h1>์์ ๋ฆฌ์คํธ</h1>
  {{#each user}}
    <h3>{{name}}</h3>
    <p>ํค์ฐ๋ ๊ณ์์ด ๐</p>
    {{#each cats}}
      <p>-{{name}}</p>
    {{/each}}
    <br/>
  {{/each}}
</body>
</html>
